body{
  font-family: "S";
}
.outputTexts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "s";
  width: 100vw;
}
.ourTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "s";
}
.both {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.TodoList {
  color: red;
  font-size: 40px;
}
.bothDiv{
  margin-right: 3vw;
  left: 0;
  width: 50%;
}
.bothTime{
  width: auto;
  margin-right: 20vw;
}
.bothCheckbox{
  width: auto;
}
.TodoSecondLine{
  width: 100%;
  height: 10vh;
  display: relative;

}
.dailyPlans {
  position: absolute;
  left: 0;
}
.dailyPlanTime{
  position: absolute;
  left: 56vw;

}
.dailyPlanCondition{
  display: relative;
  position: absolute;
  right: 0;
}
.ss {
  position: absolute;
  bottom: 0;
  right: 0;

}
.bothDailyPlanCondition{
  
  width: 30vw;
  position: absolute;
  right: 0;
}
.oo {
  height: 13vh;
  position: relative;
}